// Language syntax highlighting

.uno-1 { color: var(--uno-1); } // .... Strong
.uno-2 { color: var(--uno-2); } // ...   |
.uno-3 { color: var(--uno-3); } // ..    |
.uno-4 { color: var(--uno-4); } // .     |
.uno-5 { color: var(--uno-5); } // .    Weak

.duo-1 { color: var(--duo-1); } // .... Strong
.duo-2 { color: var(--duo-2); } // ...   |
.duo-3 { color: var(--duo-3); } // .    Weak


// Mixins -----------------------------------
.punctuation-mixin() {
  .punctuation,
  .bracket,
  .brace {
    .uno-5();
  }
  .string .punctuation {
    .duo-3();
  }
}


// Uno hue -----------------------------------

// this basically matches everything without a specific scope
// so we put it first
.meta {
  .uno-5();
}

.html.elements,
.entity,
.tag,
.function-call {
  .uno-1();
}

.attribute-name,
.character.escape {
  .uno-3();
}

.support {
  .uno-4();
}

// Uno hue -----------------------------------

.variable {
  .uno-3();
}

// Duo hue -----------------------------------
.string,
.constant,
.storage.type {
  .duo-1();
}

.keyword,
.storage {
  .duo-2();
}


// Punctuation -----------------------------------
.punctuation-mixin();


// Comments -----------------------------------
.comment {
  .uno-5();
  font-style: italic;
}


// Text styles -----------------------------------
.bold { font-weight: bold; }
.italic { font-style: italic; }
