@import "colors";


// CSS Custom Properties -----------------------------------


// Tests -----------------------------------

[data-screen-row="1"] .gfm { color: var(--mono-1); }
[data-screen-row="2"] .gfm { color: var(--mono-2); }
[data-screen-row="3"] .gfm { color: var(--mono-3); }
[data-screen-row="4"] .gfm { color: var(--mono-4); }

[data-screen-row="6"] .gfm { color: var(--uno-1); }
[data-screen-row="7"] .gfm { color: var(--uno-2); }
[data-screen-row="8"] .gfm { color: var(--uno-3); }

[data-screen-row="10"] .gfm { color: var(--duo-1); }
[data-screen-row="11"] .gfm { color: var(--duo-2); }
[data-screen-row="12"] .gfm { color: var(--duo-3); }
